html
head
  meta(charset="UTF-8")

  link(rel="stylesheet" href="/lib/foundation/css/normalize.min.css")
  link(rel="stylesheet" href="/lib/foundation/css/foundation.min.css")

  title  My store!
body

  block content

  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/foundation/js/foundation.min.js")
  script.
    $(document).foundation()
  script(src="/js/client.js")
  script(src="/css/client.css")